*{
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    height: 100vh;
    background: lightsteelblue;
}

nav{
    background: #000;
    width: 100%;
    height: 10%;
    position: absolute;
    position: fixed;
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    z-index: 1;
}

.logo{
    width:150px;
    height: 80px;
}

.nav-links{
    padding: 28px 0;
 }
 
.nav-links li{
    display: inline;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: wheat;
    padding: 5px 0;
    position:relative;

}
.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0%;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition:width 0.5s;
}
.nav-links li a:hover::after{
    width: 100%;}

.btn{
    background: #ff0000;
    color: #fff;
    padding: 10px 30px;
    cursor: pointer;
}

.formnow{
    width: 50%;
    height: 50%;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
   text-align: center;
     }
  
     input[type=text]{
        width: 100%;
        padding: 10px 20px;
        margin: 10px 0;
        border: none;
        outline-style:solid;}

        input[type="submit"]{
            width: 110%;
            padding: 10px 20px;
            margin: 10px 0;
            background: black;
            color: #fff;
            border: 1px solid;
            border-radius: 25px;
            cursor: pointer;}

  input[type=email]{
  width: 100%;
   padding: 10px 20px;
   margin: 10px 0;
   border: none;
  outline-style:solid;}

    input[type=date]{
     width: 100%;
      padding: 10px 20px;
      margin: 10px 0;
      border: none;
        outline-style:solid;} 

        #language{
            width: 300px;
            height: 30px;
            margin-left: 20px;
        }
      

        @media screen and (max-width: 427px){
            .logo{
               display: none;

            }
            #language{
                width: 240px;
                height: 26px;
                margin-left: 4px;
            }
            }
    
       
        
